.techstack {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    background-color: #f9f9f9;
}

.techstack p {
    font-size: 1.1rem;
    margin-bottom: 1rem;

}

.techstack h1 {
    margin-bottom: 1rem;
}

.tech-stack-container {
    overflow: hidden;
    width: 100%;
}

.tech-stack-wrapper {
    display: flex;
    animation: scroll linear infinite;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
}

.tech-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Media query */
@media (max-width: 768px) {
    .techstack {
        display: none;
    }
}
